.a:focus {
    color: #0d6efd;
}

.card-text {
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.card-img-activities {
    height: 185px;
    object-fit: cover;
}

.card-img-home {
    height: 210px;
    object-fit: cover;
}